.master-container {
    position: absolute;
    margin-top: 110rem;
    width: 100%;
    height: 100%;

}


.slider-main-wrapper {
    display: flex;
    
    align-items: center;
    justify-content: center;
}



.price-sheet-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 55%;
    
}

.border-top-line {
    border-bottom: 1px solid #000000;
    width: 88%;
    height: 5px;
}
.price-sheets {
    display: flex;
    flex-direction: flex;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid #000000;
}

.price-sheet-item1 {
    width: 180px;
    font-size: 14px;
    font-weight: 600;
    left: -10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.price-sheet-item2 {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.price-number {
  font-size: 30px; /* Adjust size as needed */
  font-weight: bold;
  color: #4f2ad3; /* Change color as needed */
}

.slider-container {
    width: 70%;
    max-width: 1100px;
    

    /* Center both horizontally and vertically */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.slider-container .slick-slider {
    width: 140%; /* Increase width so that left/right items is half cut off*/
    left: -20%; /* Push 10% of the slider off to the left */
    position: relative;
}

.slider-item {
    
    background-color: transparent   ;
    box-sizing: border-box;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  
}

.slider-item.notcentered {
    opacity: 0.3; 
}


.slider-img {
    height: 50%;
    width: 50%;
    object-fit: contain;
    display: block; /* Remove extra space */
    margin: 0 auto; /* Center image */
}

.slick-slide {
    padding: 0 2px;
    box-sizing: border-box;
    
}




.slick-list {
    margin: 0 -2px; /* Compensate for slide padding */
}


.slick-next:before {
    height: 50px;
    width: 50px;
    background-color: black;
}

.slick-prev:before{
    height: 50px;
    width: 50px;
    background-color: black;
}

.custom-next-arrow {
    right: 30.5%  !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 30px !important;
    height: 30px !important;
    z-index: 10;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 1000 !important;
}

.custom-prev-arrow {
    left: 28% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 30px !important;
    height: 30px !important;
    z-index: 10;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 1000 !important;
}




