.master-container {
    position: relative;
    margin: 2rem auto 0 auto; 
    width: 100%;
    height: 650px;
    min-width: 800px;
    max-width: 1000px;
    justify-content: center;
    background: rgb(226, 234, 255);
    border-radius: 10px;
}


.title_header {
    border: #000000 solid 3px;
    border-radius: 10px;
    width: 400px;
    left: 50%;
    transform: translateX(-50%) translateY(-2rem);
    position: relative;
    padding: 5px 1px;
    background: #ffffff;
}

.slidertitle1 {
    font-size: 25px;
    font-weight: 600;
    color: #436da5;
    text-align: center;
}

.slidertitle2 {
    font-size: 17px;
    font-weight: 600;
    color: #436da5;
    text-align: center;
}

.slider-main-wrapper {
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    
}



.price-sheet-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 200px;
    
}

.border-top-line {
    border-bottom: 1px solid #000000;
    width: 88%;
    height: 30px;
}
.price-sheets {
    display: flex;
    flex-direction: flex;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid #000000;
}

.price-sheet-item1 {
    width: 180px;
    font-size: 14px;
    font-weight: 600;
    left: -10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.price-sheet-item2 {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.price-number {
  font-size: 30px; /* Adjust size as needed */
  font-weight: bold;
  color: #4f2ad3; /* Change color as needed */
}

.slider-container {
    width: 70%;
    max-width: 1100px;
    

    /* Center both horizontally and vertically */
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.slider-container .slick-slider {
    width: 140%; /* Increase width so that left/right items is half cut off*/
    left: -20%; /* Push 10% of the slider off to the left */
    position: relative;
}

.slider-item {
    
    background-color: transparent   ;
    box-sizing: border-box;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  
}

.slider-item.notcentered {
    opacity: 0.3; 
}


.slider-img {
    height: 50%;
    width: 50%;
    object-fit: contain;
    display: block; /* Remove extra space */
    margin: 0 auto; /* Center image */
}

.slick-slide {
    padding: 0 2px;
    box-sizing: border-box;
    
}




.slick-list {
    margin: 0 -2px; /* Compensate for slide padding */
}


.slick-next:before {
    height: 50px;
    width: 50px;
    background-color: black;
}

.slick-prev:before{
    height: 50px;
    width: 50px;
    background-color: black;
}

.custom-next-arrow {
    right: 30.5%  !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 30px !important;
    height: 30px !important;
    z-index: 10;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 1000 !important;
}

.custom-prev-arrow {
    left: 28% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 30px !important;
    height: 30px !important;
    z-index: 10;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 1000 !important;
}

.buttombuttoncontainer {
    margin-top: 450px;
    display: flex;
    flex-direction: flex;
    gap: 20px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    justify-content: center;
}

.buttombutton {
    position: relative;
    width: 330px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #000000;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.buttombutton:hover {
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 5px 0px red;
    color: #ff0000;
}

.buttonbuttomimg {
    width: 20px;
    height: auto;
    object-fit: contain;
    display: block; 
    position: relative;
    padding-right: 10px ;
}

.buttonbuttomTXT{
    margin-left: 10px;
    font-weight: 700;
}


.FirstPointContainer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.bottomText1 {
    font-size: 25px;
    font-weight: 600;
    color: #436da5;
    text-align: center;
    margin-top: 5px;
}

.bottomText2 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}