
.drawer-container{
  
}

.drawer-contents {
    width: 400px;
    height: 200px;
    background-color: black;
    margin-top: 200px;
    right: 0;
    transform: translateX(21rem) ; 
    z-index: 1000; 

    transition: transform 600ms;
   
}


.drawer-contents:hover {
   transform: translateX(4rem); /* Slide in when open */
}

.drawer-contents.past-threshold {
    transform: translateX(21rem)
    
}

.drawer-contents.past-threshold:hover {
   transform: translateX(4rem); /* Slide in when open */
}

.drawer-header {
    position: absolute;
    width: 180px;
    background-color: transparent;
    font-size: 20px;
    color: white;
    transform: rotate(90deg) translateY(60px) translateX(130px);
}

.sticky-buttons-footter {
    width: 700px;
    height: 90px;
    background-color: black;
    bottom: 0;
    left: 200px;
    z-index: 1000;
}


.drawer-contents-body {
    margin-left: 80px;
    background-color: #333;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 10px;

}

.drawer-item {
    color: white;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.drawer-item:hover {
    opacity: 70%;
    transition: opacity 0.5s;
}




/* .drawer-container{
  
}

.drawer-contents {
    width: 400px;
    height: 200px;
    background-color: black;
    margin-top: 200px;
    right: 0;
    transform: translateX(22rem) ; 
    z-index: 1000; 

    transition: transform 600ms;
   
} 

@keyframes slideIn {
    from {
        transform: translateX(22rem); 
    }
    to {
        transform: translateX(0); 
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0); 
    }
    to {
        transform: translateX(22rem); 
    }
}

.drawer-contents:hover {
   transform: translateX(0); 
}

.drawer-contents.past-threshold {
    
   transform: translateX(22rem)
}

.drawer-contents.past-threshold:hover {
   transform: translateX(0rem); 
}

.dropdown-header {
    position: absolute;
    width: 190px;
    background-color: black;
    color: white;
    transform: rotate(90deg) translateY(78px) translateX(90px);
}

.sticky-buttons-footter {
    width: 700px;
    height: 90px;
    background-color: black;
    bottom: 0;
    left: 200px;
    z-index: 1000;
}

*/