.dropdown-content {
    width: 100%;
    height: 20rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: azure;

    transition: transform 600ms ;
    transform: translateY(-24rem); 

     &.open {
        transform: translateY(0);
     }
}

.dropdown-button {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #948383;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.close-button-container {
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
}

.close-button-container:hover {
    background-color: yellow;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}