.header-logo{
    padding: 10px;
    width: 3rem;
    height: 3rem;
    margin-left: 10px;
}

.header-container{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.r-header-menu {
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 10px;

}


.sub-header {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;

}


.sub-header-item1 {
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    cursor: pointer;
}

.sub-header-item1:hover {
    background-color: #a0a0a0;
}

.sub-header-item2 {
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}





.H-dropdown{

    width: 100%;
    height: 0rem; 
    background-color: brown;
    transition: height 300ms;

}