.homeheader-logo{
    padding: 10px;
    width: 90px;
    height: auto;
    margin-left: 30px;

}

.homeheader-logo-container{
    width: 10rem;
}

.header-container{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.r-header-menu {
    width: 15rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 15px;
    position: relative;
    right: 5%;
}


.sub-header {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;

}


.sub-header-item1 {
    width: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    cursor: pointer;
}

.sub-header-item1:hover {
    background-color: #a0a0a0;
}

.sub-header-item2 {
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}





.H-dropdown{

    width: 100%;
    height: 0rem; 
    background-color: brown;
    transition: height 300ms;

}

.r-header-menu-logout{
    width: 100px;
    height: 35px;
    background-color:white;
    border: none;
}

.r-header-menu-logout:hover{
    background-color: #dfdfdf;
    transition: background-color 300ms;
    cursor: pointer;
}

.login-logo {
    width: 4rem;
    height: 2rem;
    
    cursor: pointer;
    display: flex;                /* Add flexbox */
    align-items: center;          /* Vertically center text */
    justify-content: center; 
    background-color: transparent;
}

.login-logo:hover {
    background-color: #a0a0a0; /* Change color on hover */
}

.login-text{

}