.search-icon-button {
    cursor: pointer;

}

.search-button{
    cursor: pointer;
    width: 42px;
    height: 42px;
    transform: translateX(-44px);
    background-color: rgb(180, 180, 180);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-content {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    
    
    transform: translateY(100%);

    transition: transform 600ms;

    &.open {
        transform: translateY(0);
    }

    &.rise-up {
        animation: riseup 600ms;
    }

    &.fall-down {
        animation: falldown 600ms;
    }

}


@keyframes riseup {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes falldown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}


.search-menu-items {
    margin-top: 10vh;
    width: 80%;
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: center;
}

.search-close-button {
    position: absolute;
    right: 0;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.search-input {
    width: 80%;
    height: 40px;
}