.riseup-menu-button {
 cursor: pointer;
}

.riseup-menu-container{
    
    background-color: white;
    
}

.riseup-menu-items{
    padding: 50px;
    width: 100%;
    
    background-color: rgba(255, 255, 255);
   
}

.riseup-bookmark-top-container {
    border: 1px solid #1d1d1d;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.riseup-bookmark-top-container-button{
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.riseup-menu-content {
    width: 100%;
    height: 100vh;
    
    /* top: 100vh; */
    bottom: 0;
    left: 0;
    position: fixed;
    background-color:azure;
    transition: transform 600ms ;
    transform: translateY(100%)   ; 
    z-index: 1000;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &.open {
        transform: translateY(0);
    }


    &.rise-up {
        animation: riseup 600ms;
    }

    &.fall-down {
        animation: falldown 600ms
    }
}

@keyframes riseup {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes falldown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }

}

.riseup-close-button{
    width: 35px;
    height: 35px;
    cursor: pointer;
}


.riseup-bookmark-item{
    background-color: #f5f5f5;
    width: 45%;
    height: 500px;
    margin-bottom: 40px;
    padding: 20px;
}

.riseup-bookmark-header{

}

.riseup-bookmark-item-img-container{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #f5f5f5;
}

.riseup-bookmark-image{
    width: 300px;
    height: auto;
    background-size: cover;
    background-position: center;
    padding-right: 30px;
}

.riseup-bookmark-item-testdrive{
    border: #1d1d1d 1px solid;
    background-color: "white";
}

.riseup-bookmark-item-testdrive:hover{
    background-color: rgb(187, 187, 187);
    
}


.riseup-priceinfo-wrapper{
    align-items: baseline;
    display: grid;
    grid-template-columns: 1fr 1fr;
}