.riseup-menu-button {
 cursor: pointer;
}

.riseup-menu-content {
    width: 100%;
    height: 15rem;
    /* top: 100vh; */
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: azure;
    transition: transform 600ms ;
    transform: translateY(15rem)   ; 
    z-index: 1000;

    &.open {
        transform: translateY(0);
    }


    &.rise-up {
        animation: riseup 600ms;
    }

    &.fall-down {
        animation: falldown 600ms
    }
}

@keyframes riseup {
    from {
        transform: translateY(15rem);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes falldown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(15rem);
    }

}

