.riseup-menu-button {
 cursor: pointer;
}

.riseup-menu-container{
    
    height: 100vh;
    
}

.riseup-menu-items{
   
    width: 100%;
    height: 200vh;
    background-color: rgba(131, 131, 131, 0.5);
   
}

.riseup-bookmark-top-container {
    width: 100%;
  
    display: flex;
    flex-direction: row;
}

.riseup-menu-content {
    width: 100%;
    height: 70vh;
    max-height: 70vh;
    /* top: 100vh; */
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: azure;
    transition: transform 600ms ;
    transform: translateY(100%)   ; 
    z-index: 1000;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &.open {
        transform: translateY(0);
    }


    &.rise-up {
        animation: riseup 600ms;
    }

    &.fall-down {
        animation: falldown 600ms
    }
}

@keyframes riseup {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes falldown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }

}

.riseup-close-button{
    width: 35px;
    height: 35px;
    cursor: pointer;
}


.riseup-bookmark-item{

}