.step-two-button {
    align-self: center;
    height: 48px;
    width: 240px;
    background-color: #e50000; 
    color: white;
    border-radius: 5%;
}

.step-two-button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
    border: 1px solid #e50000; /* Add border on hover */
    border-radius: 5%;
    
}

.step-two-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px; 
}

.step-two-footer {
    
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 11px;
    color: #ffffff;
    background-color: #ececec;
}


.step-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 80%;
    height: 1000px; 
    margin: 0 auto; /* This centers the container horizontally */
}

.stptwo-title{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 20px;
}


.stptwo-bargauge{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 650px;
    background-color: #f3f3f3;
    border-radius: 25px;
    gap: 20px;
    justify-content: space-evenly;
}

.circleone{
    height: 32px;
    width: 32px;
    background-color: #e50000;
    ;
    border-radius: 50%;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.circletwo{
    height: 32px;
    width: 32px;
    background-color: #9e9e9e;
    border-radius: 50%;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.gaugeone{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.steptwo-text1 {
    width: 510px;
    height: 120px;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    
    
}

.steptwo-text2{
    width: 600px;
    text-align: start;
    padding-bottom: 20px;
    padding-top: 20px;
}

.steptwo-text3{
    width: 600px;
    text-align: start;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    
}

.steptwo-text4{
    width: 100%;
    text-align: start;
    padding: 20px;
    
    font-size: 14px;
    font-weight: bold; 
}

.steptwo-text5{
    width: 100%;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: normal; 
    display: flex;
    flex-direction: column;
}

.form-input-steptwo {
    color: black;
    border-bottom: 2px solid #c2c2c2;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 600px;
    height: 30px;
    background-color: white;
}

.form-input-steptwo:focus {
    border-bottom: 2px solid #e50000; /* Toyota red color */
    outline: none; /* Remove default browser outline */
    transition: border-bottom 0.3s ease; /* Smooth transition effect */
    background-color: white;
}


.steptwo-warning-text{
    width: 668px;
    height: 220px;
    background-color: #f0f0f0;
}


.invalid-username-steptwo {
    color: red;
    width: 600px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}