.step-three-button {
    align-self: center;
    height: 48px;
    width: 240px;
    background-color: #e50000; 
    color: white;
    border-radius: 5%;
}

.step-three-button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
    border: 1px solid #e50000; /* Add border on hover */
    border-radius: 5%;
    
}

.step-three-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px; 
}




/* gauge */
.stpthree-bargauge{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 750px;
    background-color: #f3f3f3;
    border-radius: 25px;
    gap: 20px;
    justify-content: space-evenly;
}


.stpthreecircleone{
    height: 32px;
    width: 32px;
    background-color: #e50000;
    ;
    border-radius: 50%;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.stpthreecircletwo{
    height: 32px;
    width: 32px;
    background-color: #9e9e9e;
    border-radius: 50%;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.gaugethree{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.step-three-footer {
    
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 11px;
    color: #ffffff;
    background-color: #ececec;
}


.stpthree-title{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 20px;
}

.stpthree-subtitle1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.stpthree-subtitle2{
    width: 70%;
}

.stpthree-subtitle3{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 10px;
}

.stpthree-subtitle4-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 10px;
}

.stpthree-subtitle4{
    background-color: black;
    font-size: small;
    color: white;
    margin-right: 10px;
    width: 40px;
    text-align: center;
}

.stpthree-subtitle5{
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
}

.stpthree-subtitle6{
    width: 80px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.stpthree-subtitle6-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 10px;
}


.step-three-container {
    width: 700px;
    margin: 0 auto; 
}

.stpthree-redline{
    margin-top: 20px;
    width: 40px;
    height: 5px;
    background-color: #e50000; /* Toyota red color */
}

.form-input-stepthree {
    color: black;
    border-bottom: 2px solid #c2c2c2;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    height: 40px;
    background-color: white;
}

.form-input-stepthreename {
    color: black;
    border-bottom: 2px solid #c2c2c2;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 345px;

    height: 40px;
    background-color: white;
}

.form-input-stepthreezipcode {
    color: black;
    border-bottom: 2px solid #c2c2c2;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 250px;
    
    height: 40px;
    background-color: white;
}

.form-input-stepthreeaddress {
    color: black;
    border-bottom: 2px solid #c2c2c2;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    
    height: 40px;
    background-color: white;
}

.form-input-stepthreephonenumber{
    color: black;
    border-bottom: 2px solid #c2c2c2;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 190px;
    height: 40px;
    margin-right: 20px;
    background-color: white;
}

.form-input-stepthreephonenumber:focus {
    border-bottom: 2px solid #e50000; /* Toyota red color */
    outline: none; /* Remove default browser outline */
    transition: border-bottom 0.3s ease; /* Smooth transition effect */
    background-color: white;
}

.form-input-stepthreeaddress:focus {
    border-bottom: 2px solid #e50000; /* Toyota red color */
    outline: none; /* Remove default browser outline */
    transition: border-bottom 0.3s ease; /* Smooth transition effect */
    background-color: white;
}

.form-input-stepthree:focus {
    border-bottom: 2px solid #e50000; /* Toyota red color */
    outline: none; /* Remove default browser outline */
    transition: border-bottom 0.3s ease; /* Smooth transition effect */
    background-color: white;
}

.form-input-stepthreename:focus {
    border-bottom: 2px solid #e50000; /* Toyota red color */
    outline: none; /* Remove default browser outline */
    transition: border-bottom 0.3s ease; /* Smooth transition effect */
    background-color: white;
}

.form-input-stepthreezipcode:focus {
    border-bottom: 2px solid #e50000; /* Toyota red color */
    outline: none; /* Remove default browser outline */
    transition: border-bottom 0.3s ease; /* Smooth transition effect */
    background-color: white;
}


.stpthreecircleradio {
    height: 21px;
    width: 21px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;


    
}

.stpthreecircleradio.onclicked {
        background-color: #e50000; /* Toyota red color */
        color: white;
}


.invalid-input-stepthree {
    color: red;
    width: 600px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.invalid-input-stepthreename {
    color: red;
   
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}


.stpthree-input-container1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    
}

.form-input-stepthree1-container {
    display: flex;
    flex-direction: column;
    
}


.stpthree-input-container2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.stpthree-input-container3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}