.stpfive-substitle{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
}

.register-container1{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container2{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}