
.unProtectedHomeContainer {
    min-width: 700px;
   height: 6600px;
}

.below-header-container {
    margin: 0 auto 0 auto; 
    max-width: 1000px;
}


.card-container {
    height: 500px;
    width: 500px;
    background-color: aqua;
}

.card {
    height: 500px;
    width: 400px;
}

.slick-next:before {
    height: 50px;
    width: 50px;
    background-color: black;
}

.slick-prev:before{
    height: 50px;
    width: 50px;
    background-color: black;
}