.free-up-front-fee-container {
    display: flex;
    flex-direction: column;
    
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.free-up-front-fee-options{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.free-up-front-fee-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}